{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        body{
            background-color: 200%;
        }
        nav{
            background:#dbd8e3;
        }
        img { 
            width: auto; 
            height: 15rem; 
            object-fit: cover;
        }
        
        .disabled{
            display: none;
        }
        
        .container-fluid .profile{
            position:relative;
        }
        
        .profile_details{
            z-index:9999;
            position:absolute;
            vertical-align: middle;
            margin: 1.3rem;
            top: 2.5rem;
            right:-15px;
            background: #fff;
            width: fit-content;
            height: fit-content;
            border: 1px solid #c7d8e2;
            border-radius: 3px;
            box-shadow: 10px 10px 30px rgba(0,0,0,0.125);
        }
        
        .profile_ul{
            padding:0;
            list-style-type: none;
            width:100%;
            margin:1rem 1rem 0rem 0rem;
            float: left;
            line-height: 1.8;
            
        }
        .profile_details li{
            padding:0rem 1rem 0rem 1rem; 
            white-space: normal;
            width: 100%;
            height: auto;
            word-wrap: break-word;
            justify-content: center;
            align-items: center;
            text-align: center;
            display:flex;
            margin: 0rem 1rem 1rem 0rem;
        }
        .profile_li{
            background-color: rgb(199, 197, 197); 
        }
        .container{
            width:100%;
            height: auto;
        }
    </style>
{% endblock %}


{% block content %}
<div class="container bg-white shadow rounded-lg d-block d-sm-flex mt-4">
    <div class="row mt-2">
      <div class="col-3 border-right" style="border-right: 1px solid #dee2e6!important;">
        <div class="p-4 mt-3" >
          <div class="img-circle text-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="dark" class="bi bi-person-circle"
              viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </div>
          <h4 class="text-center mt-4">Username</h4>
        </div>
      </div>
      <div class="col-9 tab-content p-md-5" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
          <h3 class="mb-2">Edit Profile</h3>
          <div class="row mt-4">
            <div class="col-md-6 mb-4 mt-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" value="First name">
              </div>
            </div>
            <div class="col-md-6 mb-4 mt-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" value="Last name">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" value="Username">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" class="form-control" value="">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" value="Email">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" value="Password">
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
<script>
    const icon = document.getElementById('icon');
    const p_details = document.querySelector('.profile_details');
    p_details.classList.add('disabled');
    icon.addEventListener('click',function(){
        console.log('disabled');
        p_details.classList.toggle('disabled');
        return false;
        
    })
</script>
{% endblock %}